
.header {
    background-color: #a2ccea;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 10px;
}
 
.header a:last-child {
    margin-left: auto;
}

footer {
    background-color: #a2ccea;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-top: 10px;
}

.nav a {
    padding: 10px 15px;
    text-transform: uppercase;
    text-align: center;
    color: #34495e;
    font-size: .99em;
}

.nav a:hover {
    background-color: #7ebeb6;
    color: #092747;
}

.header .logo {
    padding: 10px;
}

.nav {
    list-style-type: none;
}

.posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    gap: 10px;
}

.post {
    background-color: lightgrey;
    border-radius: 20px;
    padding: 15px;
}
.content > p {
    font-family: 'Trebuchet MS';
}
.post img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}
.post .post-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.post .post-header .date {
    margin-right: auto;
}

.post .post-header p {
    padding-left: 5px;
    flex: 1;
}

.post .post-header img{
    max-width: 10%;
}
.post .like {
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 5px;
    width: 5%;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: lightgray;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
    min-height: 400px;
    height: 100%;
}

.textarea-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

label + #post-body {
    width: 80%;
    height: 150px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 30px;
}

.textarea-container ~ .file-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 45px;
}

input[type=file]::file-selector-button {
    padding: 10px;
    font-size: 16px;
    -webkit-text-fill-color: white;
    border: 2px solid #a2a7ea;
    padding: .2em .4em;
    border-radius: .2em;
    background-color: #a2a7ea;
    transition: 0.5s;
}

input[type=file]::file-selector-button:hover {
    background-color: #a2ccea;
    border: 2px solid #a2ccea;
}

.button-container {
    display: flex;
    justify-content: center;
}

input[type="submit"] {
    background-color: #a2a7ea;
    border: 2px solid #a2a7ea;
    -webkit-text-fill-color: white;
    padding: 10px;
    font-size: 20px;
    align-self: center;
    transition: 0.5s;
}

input[type="submit"]:hover{
    background-color: #a2ccea;
    border: 2px solid #a2ccea;
}

input[type="text"], input[type="password"] {
    padding: 15px;
}

.form-container h2 {
    color: #34495e;
    margin-top: 1px; 
    text-align: center; 
}

.form-container > form {
    padding: 30px;
}

#login-form {
    background-color: rgb(211, 211, 211);
}


@media only screen and (max-width: 415px) {
    .form-container {
        width: 100%;
    }
    .header {
        width: 100%;
    }
    .posts {
        width: 100%;
    }
    footer {
        width: 100%;
    }
    .header{
        display: flex;
        grid-template-columns: auto, auto;
    }
    .nav {
        margin-top: 0px;
        padding-left: 10px;
    }
    .nav:last-of-type {
        margin-bottom: 17px;
    }
    .nav:first-of-type:is(:last-of-type){
        margin-bottom: 0px;
    }
    .header a:last-child {
        grid-column: 2;
        grid-row: 1;
    }
    .file-container {
        gap:0px;
        flex-direction: column;
        margin: 0px;
    }
    .textarea-container {
        flex-direction: column;
    }
    .textarea-container ~ .file-container {
        flex-direction: column;
        margin-bottom: 19px;
    }
    .textarea-container #post-body {
        margin: 0px;
        width: 95%;
    }
    #picture {
        width: 100%;
    }
    .profile {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .profile-pic {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    .dropdown-content {
        position: absolute;
        top: 50px;
        right: 0;
        width: 150px;
        background-color: white;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        display: none;
    }

    .dropdown-content p,
    .dropdown-content button {
        padding: 12px;
        margin: 0;
        border: none;
        width: 100%;
        text-align: left;
        cursor: pointer;
    }

    .dropdown-content p:hover,
    .dropdown-content button:hover {
        background-color: #f1f1f1;
    }
}

.profile {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-left: auto; 
}

.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #ccc;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: white;
    min-width: 160px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
    border-radius: 5px;
}

.dropdown-content p, .dropdown-content button {
    padding: 12px;
    margin: 0;
    border: none;
    width: 100%;
    text-align: left;
    background-color: white;
    cursor: pointer;
}

.dropdown-content p:hover, .dropdown-content button:hover {
    background-color: #f1f1f1;
}
